#calculator {
    background-image: linear-gradient(#3366cc, #0099cc);
    position: fixed;
    display: block;
    top: 10px;
    left: 10px;
    height: 400px;
    width: 320px;
}

#numberDisplay {
    height: 50px;
    font-size: 50px;
    color: #fcfcfc;
    text-align: right;
    margin: 10px 10px;
}

.title {
    text-align: center;
    color: #fcfcfc;
    font-size: 50px;
    margin: 10px;
}

.numButton {
    background-color: #3366cc;
    position: relative;
    width: 60px;
    height: 60px;
    color: #fcfcfc;
    font-size: 25px;
    border-radius: 50%;
    border-color: #fcfcfc;
}

.operatorButton {
    background-color: #003399;
    position: relative;
    width: 60px;
    height: 60px;
    color: #fcfcfc;
    font-size: 25px;
    border-radius: 50%;
}

#equalsButton {
    background-color: #006600;
    position: relative;
    width: 60px;
    height: 60px;
    color: #fcfcfc;
    font-size: 25px;
    border-radius: 50%;
}

body {
    font-family: Optima;
}